.Modal {
	position: fixed;
	z-index: 500;
	background-color: white;
	width: 40vw;
	left: 50%;
	top: 50%;
	border-radius: 5px;
	box-sizing: border-box;
	transition: all 0.3s ease-out;
}

.closeBtn {
	cursor: pointer;
    position: absolute;
	right: 0px;
    margin-right: 5px;
}